[submodule "themes/even"]
	path = themes/even
	url = https://github.com/getzola/even.git
[submodule "themes/zola-paper"]
	path = themes/zola-paper
	url = https://github.com/schoenenberg/zola-paper.git
